* {
  --backgroundColor: {{ initParams.stylesheet.backgroundColor }};

}
#root {
  height: 100%;
  background-color: var(--backgroundColor);
}

#root1,#root2,#root3,#root4,#root5,#root6,#root7,#root8{
  position: absolute;
  width: 100%;
  height: 100%;
}

.circle{
  background-color: var(--backgroundColor);
  background-repeat: no-repeat;
  background-size: cover;
  width: 150%;
  height: 150%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) scale(0);
  border-radius: 50%;
}
