* {
    --titleFontColor: {{ initParams.stylesheet.titleFontColor }};
    --titleFontSize: {{ initParams.intro.titleFontSize}};
    --sloganFontSize: {{ initParams.intro.sloganFontSize}};
    --backgroundColor: {{ initParams.stylesheet.backgroundColor }};
}

.container{
  width: 100%;
  height: 100%;
  font-family: 'Work Sans', sans-serif;
}

.container-left,.container-right{
  width: 100%;
  height: 100%;
  position: absolute;
}
.product-container{
  opacity:0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
}

.container-left .product-container{
  flex-direction: row-reverse;
}

.photo-wrapper{
  position: relative;
  width: 30%;
  height: 100%;
  background-color: red;
  overflow: hidden;
}

.details{
  position: relative;
  width: 70%;
  height: 100%;
  background-color: var(--backgroundColor);
}
.date-wrapper{
  position: absolute;
  top: -50%;
  margin: 5px;
  font-size: 12px;
  font-weight: bolder;
  background-color: var(--titleFontColor);
  overflow: hidden;
  padding:10px;
  display:inline-block;
  color:transparent;
  border-radius: 50px;
}
.date{
  background: var(--backgroundColor);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display:block;
}
.product{
  position: absolute;
  top: 60%;
  left: 40%;
  transform: translate(-40%,-60%);
  align-self:center;
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 60%;
}

.container-right .product{
  flex-direction: row-reverse;
}

.product-details{
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 0px;
  position: relative;
  text-align: center;
  width: 50%;
}

.product-name-wrapper{
  position: relative;
  overflow: hidden;
}

.container-left .product-name{
  position: relative;
  left: -120%;
  font-weight: bolder;
  font-size: 20px;
}

.container-right .product-name{
  position: relative;
  right: -120%;
  font-weight: bolder;
  font-size: 20px;
}

.product-description-wrapper{
  position: relative;
  overflow: hidden;
}

.product-description{
  position: relative;
  top: -190%;
  font-size: 12px;
}


.offer{
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  position: absolute;
  top: 18%;
  right: 15%;
}

.price{
  border-radius: 20px;
  background-color: red;
  padding: 10px;
  font-size: 35px;
  color: white;
  font-weight: bold;
}
.company{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  padding: 10px;
}

.container-left .company{
  position: absolute;
  bottom: 20px;
  right: 120%;
}

.container-right .company{
  position: absolute;
  bottom: 20px;
  left: 120%;
}


.logo{
  width: 18px;
  height: 18px;
  background: url({{initParams.company.logo}});
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.name{
  font-family: 'Playfair Display', serif;
  font-size: 13px;
  color: var(--titleFontColor);
}

.circle{
  background-color: var(--backgroundColor);
  background-repeat: no-repeat;
  background-size: cover;
  width: 150%;
  height: 150%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) scale(0);
  border-radius: 50%;
}

.outro1{
  width: 150%;
  height: 150%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) scale(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.outro1 .logo{
  width: 30px;
  height: 30px;
}

.outro1 .name{
  font-size: 32px;
}